#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.card {
  padding: 2em;
}

.basicText{
color: darkgrey;
margin: 1rem auto;
padding: 1rem;
width: 15rem;
height: 15rem;
font-size: large;
text-align:top;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
font-family: 'Lato', monospace;
}

.aboutPage{
color: darkgrey;
margin: 1rem auto;
padding: 1rem;
justify-content: center;
font-family: 'Lato', monospace;
}

.image-container {
  width: 20rem;
  height: 20rem;
  margin: .6rem auto;
  padding: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 25%;
}

.skillContainer{
padding: 2rem;
overflow: hidden;

}

.rotate {
  animation: rotation 100s infinite linear;
  padding: 2rem
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(380deg);
  } 
 }

.allRotate {
  animation: all-rotate 100s infinite linear;
}

@keyframes all-rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-380deg);
  }
}

@media (max-width: 768px) {
  .skillContainer {
    max-width: 100%;
  }
  .allRotate {
    animation: none;
  }
}

