#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.card {
  padding: 2em;
}

.basicText{
color: darkgrey;
margin: 1rem auto;
padding: 1rem;
width: 15rem;
height: 15rem;
font-size: large;
text-align:top;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
font-family: 'Lato', monospace;
}

.image-container {
  width: 20rem;
  height: 20rem;
  margin: .6rem auto;
  padding: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 25%;
}

.skillContainer{
background-color:rgb(143, 166, 190);
}

